.default {
    background-color: green;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    border: none;
    color: white;
    border-radius: 3px;
    margin: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.default:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.default:active {
    transform: scale(1.01)
}

.red {
    background-color: red;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    border: none;
    margin-left: 5px;
    color: white;
    border-radius: 3px;
}

.red:hover {
    background-color: #b60f0f;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.default:active {
    background-color: darkgreen;
    cursor: pointer;
}

.default:disabled {
    cursor: default;
    background-color: darkgreen;
    opacity: 0.7;
    transform: none;
}

